@import './base.scss';

html {
  box-sizing: border-box;
}

html, body {
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
